* {
    /* estilo por defecto para todos los elementos de la pagina*/
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
  text-align:center;
  margin: 0 auto;
  padding: 2%;
}

hr {
  width: 40%;
}

a {
    display: block;
    padding: 1%;
    width: 30%;
    background-color: rgb(184, 183, 183);
    border-bottom: 1px solid #eeeeee;
    text-align:center;
    margin: 0 auto;
  }

  a:link, a:visited {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #4082c4;
    color: #ffffff;
  }

  /*estilo galeria*/
div.centrado{
    text-align:center;
}

img{   
    width: 30%;
    padding: 5px;
    margin: 5px;
    padding-top: 5%;
    object-fit: contain;
    display: inline-block;
}

/*estilo animado de texto*/

#recuadro1{
    border-radius: 20px;  
    background-color:rgba(247, 244, 96, 0.932);
    width:200px;
    padding:10px;
    transition:width 0.5s,
               background-color 3s;
    -moz-transition:width 0.5s,
                   background-color 3s;
    -ms-transition:width 0.5s,
                   background-color 3s;
    -webkit-transition:width 0.5s,
                       background-color 3s;
    -o-transition:width 0.5s,
                  background-color 3s;
  }
  
  #recuadro1:hover{
    width:300px;
    background-color: rgb(0, 255, 98);
  }

  
  /*estilo del footer pegado abajo*/
footer{
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
}
/*esto es un condicional que dice que en pantallas de maximo 900px haga eso*/
/* @media screen and (max-width:900px) {
    figure {
        height: 300px;
    }

} */