* {
    /* estilo por defecto para todos los elementos de la pagina*/
    font-family: 'Roboto', sans-serif;
    box-sizing:border-box;
}

body{
  font-size: medium;
}

/*estilos de menu*/
a {
    padding: 10px;
    background-color: rgb(184, 183, 183);
    border-bottom: 1px solid #eeeeee;
    text-align:center;
    display:inline-block;
  }

  a:link, a:visited {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #4082c4;
    color: #ffffff;
  }

  menu{
    margin-top: 4%;
  }

div.centrado{

    text-align:center;
}

img{   
    width: 30%;
    padding: 5px;
    margin: 5px;
    padding-top: 5%;
    object-fit: contain;
    display: inline-block;
}

    /*estilo del footer pegado abajo*/
    /*estilo del footer pegado abajo*/
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
}