/*
CSS 
web o pagina: 
autor:SILVIA RODRIGUEZ
fecha:31/mayo/2021
*/

:root {
    --azulclaro: #e6f2ff;
  }
  
  * {
       /* estilos por defecto para TODOS los elementos de la página; */
      /* estilo:valor; */
      font-family: 'Nunito', sans-serif;
      text-transform:none;
      box-sizing:border-box;
      margin:0px;
      padding:0px;
  }
  
  body {
      background: var(--azulclaro); /* Azul al 10% */
  }